

body {
    background-color: #1e1e1e;
}

.profile-header {
    background: linear-gradient(to right, #3b0764, #7a4cce);
    height: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#passwordInput {
    color: #3B1868;
}

#confirmDeleteInput {
    color:red;
}

.profile-sidebar {
    background-color: #252525;
    height: 200px;
    padding-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content {
   
    margin: 15px;
}

.form-control {
    background-color: #ff000000 !important;
    opacity: 1;
}

.form-control, .btn {
    border-radius: 15px;

}

.edit-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}

 
    .nav-link i {
        font-size: 2rem;
    }

.text-muted {
    color: #aaa !important;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
 
 

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.iamge img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .iamge img:active,
    .iamge img.clicked {
        transform: scale(4);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        z-index: 10;
        position: relative;
    }
