:root {
    --color: #3B1868;
    --background-color: #4f037b39;
}



.color {
    background-color: var(--color);
}

.navbar .container-fluid {
    justify-content: center;
}

    .navbar .container-fluid .center {
        display: flex;
        align-items: center;
    }

    .navbar .container-fluid .Profile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .navbar .container-fluid .Profile .profile-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ddd;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    overflow: hidden;
}

    .Header .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* Place the video behind other content */
    }

    .Header .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        color: #fff; /* Ensure text is readable on top of the video */
        z-index: 1; /* Place the text on top of the video */
    }

    .Header .main-button .button {
        background-color: var(--color);
        color: #ddd;
        border-radius: 20px;
        width: 120px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 1; /* Place the button on top of the video */
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
 }

.w{
    width:400px

}

/* Features Section */
.Features h2 {
    color: #1d3557;
    font-weight: bold;
}

.Features img {
    width:  300px;
    height: 300px;
    border-radius:20%
}

.Features h5 {
    font-weight: bold;
    color: #457b9d;
}
.Feature {
    background-color: #ab9dcb;
    padding: 20px;
    border-radius: 5%;
    height: 450px
}
/* Call to Action */
.CallToAction {
    background-color: var(--color);
}
.CallToAction h2 {
    font-weight: bold;
}

.CallToAction .btn {
    background-color: #a8dadc;
    color: #457b9d;
    border-radius: 30px;
    transition: all 0.3s ease;
}

    .CallToAction .btn:hover {
        background-color: #1d3557;
        color: #f1faee;
    }

/* Footer */
footer a:hover {
    text-decoration: underline;
}