@{
    ViewData["Title"] = "Verify Email";
}

<div class="login-container" style="height: 1000px;">
    <div class="welcome-section h-50">
        <h1>Verify Your Email</h1>
        <p>Enter the verification code sent to your email.</p>
    </div>

    <div class="login-section h-50">
        <form action="/SignUp/VerifyEmail" method="post">
            <div class="mb-3">
                <label for="code" class="form-label">Verification Code:</label>
                <input type="text" id="code" name="code" class="form-control w" placeholder="Enter verification code" required>
            </div>

            <div class="mb-3">
                <recaptcha language="en-GB" />
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <br>
            <button type="submit" class="btn btn-login w-100">Verify</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

<script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
</script>

<script src="https://www.google.com/recaptcha/api.js?render=6LccB8cqAAAAALYc9EoxeWcaS7Yp0RvYdq9sRmHw"></script>

<script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            grecaptcha.execute('6LccB8cqAAAAALYc9EoxeWcaS7Yp0RvYdq9sRmHw', { action: 'submit' }).then(function (token) {
                // Add your logic to submit to your backend server here.
            });
        });
    }
</script>
