
<div class="login-container">
    <div class="welcome-section">
        <h1>Welcome to<br>Student Portal</h1>
        <p>Add to Email your account</p>
        <img src="~/images/招聘矢量插画人物场景插画招聘1100924黑与白-01 copy 1.png" alt="Illustration" class="illustration">
    </div>
    <div class="login-section">
        <h1>Add Email</h1>
        <p>Enter your New Email</p>

        <form asp-action="AddEmail" asp-controller="Profile" method="post">
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input name="Email" type="text" id="Email" class="form-control" placeholder="Enter your Email ">
            </div>
            <button type="submit" class="btn btn-login w-100">Add Email</button>
        </form>
    </div>
</div>