

    <div class="Header">
        <div class="main-text">
            <h1>Welcome to ChatLink</h1>
            <h6>Your go-to platform for seamless communication with friends.</h6>
        </div>
        <div class="main-button">
            <a class="button nav-link" href="./chat.html">Start Chat</a>
        </div>
    </div>