<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configuration>
    <system.net>
      <mailSettings>
        <smtp from="your_email@gmail.com">
          <network
            host="smtp.gmail.com"
            port="587"
            enableSsl="true"
            userName="webchat.eg@gmail.com"
            password="eakw njfh giqp mpzz" />
        </smtp>
      </mailSettings>
    </system.net>
  </configuration>
</configuration>