<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/General">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/ServerError" />
    </customErrors>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\webchat.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp from="your_email@gmail.com">
        <network
          host="smtp.gmail.com"
          port="587"
          enableSsl="true"
          userName="ChatLink.eg@gmail.com"
          password="ffhm glyt bcup ddke" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>