<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webchat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style_Signup.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/all.min.css"/>



    <link rel="stylesheet" href="~/webchat.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
          @if (ViewData["HideNavbar"] == null || !(bool)ViewData["HideNavbar"])
    {
        <nav class="navbar navbar-expand-lg color">
            <div class="container-fluid">
                <div class="center">
                    <div class="logo pe-5">
                        <a class="navbar-brand text-white" href="./Index.html">Chatlink</a>
                    </div>
                    <div class="collapse navbar-collapse pe-5 ps-5" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item pe-2 ps-2">
                                <a class="nav-link active text-white" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="nav-item pe-2 ps-2">
                                <a class="nav-link text-white" href="./chat.html">Chat</a>
                            </li>
                            <li class="nav-item pe-2 ps-2">
                                <a class="nav-link text-white" href="#">Friends</a>
                            </li>
                            <li class="nav-item pe-2 ps-2">
                                <a class="nav-link text-white" href="#">Settings</a>
                            </li>
                            <li class="nav-item pe-2 ps-2">
                                <a class="nav-link text-white" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Profile ps-5 pe-5">
                         <div class="Profile ps-5 pe-5">
                              <button class="btn btn-signup me-2 text-white" onclick="window.location.href='/SignUp'">Sign Up</button>
                                <button class="btn btn-login text-white" onclick="window.location.href='/Login'">Login</button>
       
                          </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    }
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/all.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
